	<div class="card" style="padding:15px; max-width:300px;margin-top:1em">
		<h5 class="text-uppercase"><%= event.name %></h5>
		<p class="text-secondary"><%= event.created_at %></p>
		<%= link_to "ver más", event %>
		
	</div>
